name: Create a release

on:
  push:
    branches: [ '**' ]
    tags:
    - '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'
    - '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]-alpha.*'
    - '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]-beta.*'

jobs:
  release:

    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Install packages
      run: |
        sudo apt install gettext vim

    - name: Create an archive
      run: |
        make release ARCHIVE=vim-lang-ja-${{ github.ref_name }}

    - name: Upload the archive
      uses: actions/upload-artifact@v6
      with:
        name: vim-lang-ja
        path:
          vim-lang-ja-*.tar.xz

    # リリース(draft)を作成しファイルを添付する
    - name: Create a release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
      with:
        draft: true
        prerelease: ${{ contains(github.ref_name, '-alpha.') || contains(github.ref_name, '-beta.') }}
        files: |
          vim-lang-ja-*.tar.xz
        fail_on_unmatched_files: true
        generate_release_notes: true
        append_body: true
